.slide {
    display: none; /* Ocultar todos los slides por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    overflow-y: auto;  /* Esto habilitará el scroll vertical si el contenido excede la altura máxima */
    max-height: 80vh;  /* Ajusta este valor según tus necesidades */
    margin-top: 80px;
    margin-left: 20px;
  }
  
  .active-slide {
    display: block; /* Mostrar solo el slide activo */
  }
  
  .navigation-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  