.slide {
    display: none; /* Ocultar todos los slides por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    overflow-y: auto;  /* Esto habilitará el scroll vertical si el contenido excede la altura máxima */
    max-height: 80vh;  /* Ajusta este valor según tus necesidades */
    margin-top: 80px;
    margin-left: 20px;
  }
  
  .active-slide {
    display: block; /* Mostrar solo el slide activo */
    margin-left: 3px;
  }
  
  .navigation-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
/* establecer overflow: auto; a todos los div cuya class comience por paper */
div[id^="paper"] {
  overflow: auto !important;
}

/* Imágenes que ocupan el espacio disponible sin distorsión y sin recortes */
img {
  max-width: 100vw; /* Limita el ancho máximo de la imagen al ancho de la ventana */
  max-height: 100vh; /* Limita la altura máxima de la imagen a la altura de la ventana */
  width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  object-fit: contain; /* Ajusta la imagen para que quepa completamente en el contenedor sin distorsionarse */
  padding: 2px;
  display: block; /* Asegura que las imágenes se comporten como elementos de bloque */
  margin-left: auto; /* Centra la imagen horizontalmente */
  margin-right: auto; /* Centra la imagen horizontalmente */
}


/* Ajustar el margin-top de la clase sidebar a 0 si el título de la página empieza con W + dígito */
.margin-top-zero {
  margin-top: 0 !important;
  display: none !important;
}

.show-element {
  display: block !important;
}
