.slide {
    display: none; /* Ocultar todos los slides por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    overflow-y: auto;  /* Esto habilitará el scroll vertical si el contenido excede la altura máxima */
    max-height: 80vh;  /* Ajusta este valor según tus necesidades */
    margin-top: 80px;
    margin-left: 20px;
  }
  
  .active-slide {
    display: block; /* Mostrar solo el slide activo */
    margin-left: 3px;
  }
  
  .navigation-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
/* establecer overflow: auto; a todos los div cuya class comience por paper */
div[id^="paper"] {
  overflow: auto !important;
}

img {
  width: 100%; /* Ancho total del contenedor */
  height: 100%; /* Alto total del contenedor */
  object-fit: contain; /* Ajusta la imagen para que quepa completamente en el contenedor sin distorsionarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
  padding: 2px;
  display: block; /* Asegurarse de que las imágenes se comporten como elementos de bloque */
  margin: 0; /* Elimina los márgenes para aprovechar todo el espacio */
}

/* Ajustar el margin-top de la clase sidebar a 0 si el título de la página empieza con W + dígito */
.margin-top-zero {
  margin-top: 0 !important;
  display: none !important;
}

.show-element {
  display: block !important;
}
