<script src="https://cdn.jsdelivr.net/npm/abcjs@6.2.2/dist/abcjs-basic-min.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/abcjs@6.2.2/abcjs-audio.min.css">
<script src="https://cdn.jsdelivr.net/npm/chordjs@2.0.1/lib/index.min.js" defer></script>