<script>
// Obtén el título del documento
const title = document.title;

let prevButton;
let nextButton;

// Verifica si el título comienza con 'W' seguido de un dígito
if (title.match(/^W\d/)) {
  
  // Encuentra todas las secciones entre <hr> y envuélvelas en un div con la clase 'slide'
  const sections = document.querySelectorAll('hr ~ *:not(hr)');
  let slideWrapper = null;
  sections.forEach((section, index) => {
    if (index % 2 === 0) {
      slideWrapper = document.createElement('div');
      slideWrapper.className = 'slide';
      section.parentNode.insertBefore(slideWrapper, section);
    }
    slideWrapper.appendChild(section);
  });

  // Definir el índice del slide actual
  let currentSlideIndex = 0;
  const slides = document.querySelectorAll('.slide');

  // Función para mostrar el slide actual
  function showSlide(index) {
    slides.forEach(slide => slide.classList.remove('active-slide'));
    slides[index].classList.add('active-slide');

    // Actualizar la visibilidad de los botones
    prevButton.style.display = (index > 0) ? 'inline-block' : 'none';
    nextButton.style.display = (index < slides.length - 1) ? 'inline-block' : 'none';
  }

  // Botones de navegación
const navButtons = document.createElement('div');
navButtons.className = 'navigation-buttons';
prevButton = document.createElement('button');
prevButton.innerText = 'Anterior';
prevButton.onclick = prevSlide;
nextButton = document.createElement('button');
nextButton.innerText = 'Siguiente';
nextButton.onclick = nextSlide;
navButtons.appendChild(prevButton);
navButtons.appendChild(nextButton);
document.body.appendChild(navButtons);

  // Funciones para navegar entre slides
  function prevSlide() {
    if (currentSlideIndex > 0) {
      currentSlideIndex -= 1;
      showSlide(currentSlideIndex);
    }
  }

  function nextSlide() {
    if (currentSlideIndex < slides.length - 1) {
      currentSlideIndex += 1;
      showSlide(currentSlideIndex);
    }
  }

  document.addEventListener("DOMContentLoaded", function() {
      // Ocultar filetreeSidebar y asideElement al cargar la página
      const filetreeSidebar = document.querySelector('nav.filetree-sidebar');
      const asideElement = document.querySelector('aside');

      if (filetreeSidebar) {
          filetreeSidebar.style.display = 'none';
      }

      if (asideElement) {
          asideElement.style.display = 'none';
      }
      const sidebar = document.querySelector('.sidebar');
      if (sidebar) {
          sidebar.classList.add('margin-top-zero');
      }
  });

  // Escuchar las teclas de flecha izquierda y derecha
  document.addEventListener('keydown', (event) => {
      if (event.key === 'ArrowLeft') {
          prevSlide();
      } else if (event.key === 'ArrowRight') {
          nextSlide();
      } else if (event.key === 'k') {
          toggleSidebar();
      }
  });

document.addEventListener("DOMContentLoaded", function() {
    const sidebar = document.querySelector('.sidebar');
    if (sidebar) {
        sidebar.classList.add('margin-top-zero');
    }
});

function toggleSidebar() {
    const filetreeSidebar = document.querySelector('nav.filetree-sidebar');
    const asideElement = document.querySelector('aside');

    if (filetreeSidebar && asideElement) {
        if (filetreeSidebar.style.display === 'none' && asideElement.style.display === 'none') {
            filetreeSidebar.style.display = 'block';
            asideElement.style.display = 'block';
        } else {
            filetreeSidebar.style.display = 'none';
            asideElement.style.display = 'none';
        }
    }

    if (filetreeSidebar && asideElement) {
        if (asideElement.classList.contains('margin-top-zero')) {
            asideElement.classList.remove('margin-top-zero');
            asideElement.classList.add('show-element');
        } else {
            asideElement.classList.add('margin-top-zero');
            asideElement.classList.remove('show-element');
        }
}




  // Mostrar el primer slide al cargar la página
  showSlide(currentSlideIndex);

}
</script>